body {
    width: 100%;
}


/* MOBILE */

@media only screen and (max-width: 768px) {
    .contenedor {
        box-sizing: content-box;
        width: 200px;
        padding: 20px;
        margin: 10px;
        border: 15px solid green;
        text-align: center;
        align-items: center;
    }
    .contenedor img {
        height: 250px;
        width: 250px;
    }
}