body {
    width: 100%;
    background-image: radial-gradient(circle at 14.79% -0.28%, #e55fe6 0, #cd55e9 16.67%, #b04cec 33.33%, #8d45ee 50%, #5d41f0 66.67%, #003ff2 83.33%, #0040f4 100%);
    font-family: 'Source Sans Pro', sans-serif;
}


/* MOBILE */

@media only screen and (max-width: 844px) {
    .container {
        display: inline-block;
        padding: 80px 30px;
        margin: 105px 30px;
        box-sizing: border-box;
        align-items: center;
        background-color: #fff;
        border-radius: 25px;
    }
    img {
        position: absolute;
        width: 55%;
        left: 24%;
    }
    h1 {
        text-align: center;
    }
    h2 {
        font-size: 15px;
        font-weight: 300;
        line-height: 30px;
    }
    .line {
        margin-top: 10px;
        width: 240px;
        height: 5px;
        border-bottom: 1px solid lightgray;
        position: relative;
    }
    .container__dropdown ul {
        position: absolute;
        max-height: 0px;
        overflow: hidden;
    }
}